
*  {
    box-sizing: border-box;
}

.font { 
    font-family: 'Fira Sans', sans-serif;
}

.bold { 
    font-size: 25px;
}

header  {
    height: 100px;
    width: 100%;
    line-height: 50px;
}

.logo { 
    vertical-align: middle;
    display: inline;
}

.htitle {
    vertical-align: middle;
    width: 20px;
    display: inline;
    padding: auto;
    font-size: 50px ;
    font-weight: bold;
 }

main {
   width: 1200px;
   margin: auto;
 }

.Baddtsk {
    width: 65px;
    height: 25px;
    color: white; 
    font-size: 12px;
    border: none;
    border-radius: 10%;
    background-color:rgba(71, 173, 241, 1) ;
}

.Baddsct {
    width: 65px;
    height: 25px;
    color: rgba(56, 56, 56, 0.356); 
    font-size: 12px;
    border: 0.5px solid rgba(56, 56, 56, 0.356) ;
    border-radius: 10%;
    background-color:rgb(255, 255, 255) ;
}

ul {
    list-style-type: none;
  }

  .positive {
    color:green
    border: 0.5px solid green;  
    border-radius:50%;
  }

  .positive {
    content: '&check;'
    color:green
    border: 0.5px solid green;  
    border-radius:50%;
  }

  .Beditorial {
    width: 55px;
    height: 20px;
    color: white; 
    font-size: 10px;
    border: none;
    border-radius: 15%;
    background-color:rgba(71, 173, 241, 1) ;
}
    

