
*  {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.font { 
    font-family: 'Ubuntu', sans-serif;
}

.bold { 
    font-size: 20px;
}

.space { 
    margin-top: 40px;
    margin-bottom: 40px;
}

h3::before { 
    content: "\25be";
}

header  {
    height: 100px;
    line-height: 100px;
    padding-left: 20px;
}

.logo { 
    vertical-align: middle;
    display: inline-block;
}

.htitle {
    vertical-align: middle;
    display: inline-block;
    padding: auto;
    font-size: 50px ;
    font-weight: bold;
 }

main {
   width: 1200px;
   margin: auto;
 }

.Baddtsk {
    width: 65px;
    height: 25px;
    color: white; 
    font-size: 12px;
    border: none;
    border-radius: 10%;
    background-color:rgba(71, 173, 241, 1) ;
}

.Baddsct {
    margin-left: 6px;
    width: 65px;
    height: 25px;
    color: rgba(56, 56, 56, 0.356); 
    font-size: 12px;
    border: 0.5px solid rgba(56, 56, 56, 0.356) ;
    border-radius: 10%;
    background-color:rgb(255, 255, 255) ;
}

ul li {
    list-style-type: none;
    padding-bottom: 10px;
  }

.positive {
    content: "\2713";
    color:rgba(111, 198, 178, 1);
    border: 0.5px solid rgba(111, 198, 178, 1) ;  
    border-radius:50%;
  }

.negative {
    content: "\2573";
    color:rgba(244, 191, 190, 1);
    border: 0.5px solid rgba(244, 191, 190, 1) ;  
    border-radius:50%;
  }

.Beditorial {
    width: 55px;
    height: 20px;
    color: white; 
    font-size: 10px;
    border: none;
    border-radius: 15%;
    background-color:rgba(71, 173, 241, 1) ;
}
  
.Bgoals {
    width: 55px;
    height: 20px;
    color: white; 
    font-size: 10px;
    border: none;
    border-radius: 15%;
    background-color: rgba(156, 114, 228, 1);
}

.Brecruit {
    width: 55px;
    height: 20px;
    color: white; 
    font-size: 10px;
    border: none;
    border-radius: 15%;
    background-color: rgba(100, 192, 169, 1);
}

.Bmobile {
    width: 55px;
    height: 20px;
    color: white; 
    font-size: 10px;
    border: none;
    border-radius: 15%;
    background-color: rgba(242, 158, 51, 1);
}

.Bweb {
    width: 55px;
    height: 20px;
    color: white; 
    font-size: 10px;
    border: none;
    border-radius: 15%;
    background-color: rgba(216, 99, 161, 1);
}

.Bsale {
    width: 55px;
    height: 20px;
    color: white; 
    font-size: 10px;
    border: none;
    border-radius: 15%;
    background-color: rgba(176, 201, 38, 1);
}


